
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Deloitte</title>
  <link href="img/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/animations-ie-fix.css">
  <link rel="stylesheet" href="js/owlCarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="js/owlCarousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>
  <header class="animatedParent">
    <section class="top-bar animated fadeInDownShort delay-250">
      <div class="container-fluid">
        <a href=""><img alt="" class="logo" src="img/logo-white.png"></a>
        <div class="hamburger hamburger--spin">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <nav class="main-navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Our Promise to you</a></li>
    </ul>
  </nav>
  <main class="main-content">
    <!-- First Section -->
    <section class="panel first-block animatedParent" data-section-name="home">
      <img src="img/first-section.jpg" class="bg">
      <div class="overlay"></div>
      <div class="container">
        <div class="inner-content">
          <video width="320" height="240" controls class="animated fadeInUpShort delay-500">
            <source src="img/video/movie.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h1 class="animated fadeInUpShort delay-1000"><small>A personal message from our</small> Global CEO, Punit Renjen | AP CEO, Cindy Hook</h1>
        </div>
      </div>
      <div class="footer">
        <p class="animated fadeInUpShort delay-1250">Find out why Deloitte is the right auditor for DBS</p>
        <a href="#our-promise" class="animated fadeInUpShort delay-1500"><img src="img/go-back.png" alt="go-back"></a>
      </div>
    </section>

    <!-- Second Section -->
    <section class="panel second-block animatedParent" data-section-name="our-promise">
      <div class="top-banner">
        <img src="img/our-promise.jpg" class="bg">
        <div class="overlay"></div>
        <div class="banner-content">
          <ul class="animated fadeInUpShort delay-500">
            <li><img src="img/logo.png" alt="Deloitte" class="logo"></li>
            <li><img src="img/dbs.png" alt="DBS" class="logo"></li>
          </ul>
          <h2 class="animated fadeInUpShort delay-750">Our promise to you</h2>
        </div>
      </div>
      <div class="container-fluid">
        <h4 class="text-center animated fadeInUpShort delay-1250">Below, we have set out where we see shared values and a strong cultural fit between DBS and Deloitte.</h4>
        <ul class="owl-carousel owl-theme promises-carosal animated fadeInUpShort delay-1750">
          <li class="item">
            <img src="img/promise1.png" alt="" />
            <label class="h4">Refresh. <br/>Redefine. <br/>Reimagine</label>
          </li>
          <li class="item">
            <img src="img/promise2.png" alt="" />
            <label class="h4">Our Purpose ofmaking an impactthat matters</label>
          </li>
          <li class="item">
            <img src="img/promise3.png" alt="" />
            <label class="h4">Unlockingvalue through technology</label>
          </li>
          <li class="item">
            <img src="img/promise4.png" alt="" />
            <label class="h4">At the forefrontof regulatory andindustry trends</label>
          </li>
          <li class="item">
            <img src="img/promise5.png" alt="" />
            <label class="h4">Your feedback matters to us</label>
          </li>
        </ul>
      </div>
    </section>

    <!-- Third Section -->
    <section class="panel third-block animatedParent" data-section-name="reimagine">
      <img src="img/reimagine.jpeg" class="bg-img animated fadeIn delay-250">
      <div class="animated delay-750">
        <div class="left-panel animated slideInLeft delay-1250">
          <div class="content">
            <h3 class="animated fadeInUpShort delay-1750">Refresh. Redefine. Reimagine.</h3>
            <ul class="animated fadeInUpShort delay-2000">
              <li>
                <img src="img/refresh.jpg" alt="refresh">
                <p><strong>Refresh:</strong> bringing a fresh perspective with an integrated team across all your priority markets, bringing you international and local banking audit experience together with subject matter experts in key areas</p>
              </li>
              <li>
                <img src="img/redefine.jpg" alt="redefine">
                <p><strong>Refresh:</strong> bringing a fresh perspective with an integrated team across all your priority markets, bringing you international and local banking audit experience together with subject matter experts in key areas</p>
              </li>
              <li>
                <img src="img/reimagine.jpg" alt="reimagine">
                <p><strong>Refresh:</strong> bringing a fresh perspective with an integrated team across all your priority markets, bringing you international and local banking audit experience together with subject matter experts in key areas</p>
              </li>
            </ul>
            <button type="button" class="btn findoutmore animated fadeInUpShort delay-2500"><img src="img/video-icon.jpg" alt="Find out more">Find out more</button>
            <button type="button" class="btn backtotop animated fadeInUpShort delay-3000">Back to overview</button>
            <ul class="navigation">
              <li class="active">
                <a href=""></a>
                <div class="tooltip">
                  <p>Mr. Phillip Yuen</p>
                </div>
              </li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
          </div>        
        </div>
      </div>
    </section>

    <!-- Fourth Section -->
    <section class="panel fourth-block animatedParent" data-section-name="purpose-of-making">
      <img src="img/purpose-of-making.jpg" class="bg-img">
      <div class="animated delay-750">
        <div class="left-panel animated slideInRight delay-1250">
          <div class="content">
            <h3 class="animated fadeInUpShort delay-1750">Our Purpose of making an impact that matters</h3>
            <p class="animated fadeInUpShort delay-2000">At Deloitte, our Purpose is more than a statement – it is about how we interact with our people, our clients and our society.</p>
            <p class="animated fadeInUpShort delay-2000">We strive to be the best at everything we do – not only helping clients realise their ambitions, but also maximising the success of our people and making a positive difference in society.</p>
            <button type="button" class="btn findoutmore animated fadeInUpShort delay-2500"><img src="img/video-icon.jpg" alt="Find out more">Find out more</button>
            <button type="button" class="btn backtotop animated fadeInUpShort delay-3000">Back to overview</button>
            <ul class="navigation">
              <li><a href=""></a></li>
              <li class="active">
                <a href=""></a>
                <div class="tooltip">
                  <p>Our Purpose</p>
                </div>
              </li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
          </div>        
        </div>
      </div>
    </section>

    <!-- Fifth Section -->
    <section class="panel fifth-block animatedParent" data-section-name="technology">
      <img src="img/technology.jpg" class="bg-img">
      <div class="overlay"></div>
      <div class="animated delay-250">
        <div class="content">
          <h3 class="animated fadeInUpShort delay-500">Unlocking value through technology</h3>
          <p class="text animated fadeInUpShort delay-750">We will support your processes with state-of-the-art technology. And as we do so, we are actively redefining how we audit: with automation that speeds up and improve routine tasks, analytics that yields a deeper and more insightful view into your data, and Artificial Intelligence that enhances problem-solving.</p>
          <ul class="owl-carousel owl-theme technology-carosal animated fadeInUpShort delay-1750">
            <li class="item">
              <video width="320" height="240" controls class="video">
                <source src="img/video/movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <h4>Lorem Ipsum</h4>
              <p>Dolor si amet, consectur adipiscing elit sed do eiusmod</p>
            </li>
            <li class="item">
              <video width="320" height="240" controls class="video">
                <source src="img/video/movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <h4>Lorem Ipsum</h4>
              <p>Dolor si amet, consectur adipiscing elit sed do eiusmod</p>
            </li>
            <li class="item">
              <video width="320" height="240" controls class="video">
                <source src="img/video/movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <h4>Lorem Ipsum</h4>
              <p>Dolor si amet, consectur adipiscing elit sed do eiusmod</p>
            </li>
          </ul>
          <button type="button" class="btn backtotop animated fadeInUpShort delay-3000">Back to overview</button>
          <ul class="navigation">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li class="active">
              <a href=""></a>
              <div class="tooltip">
                <p>Future Audit Tools</p>
              </div>
            </li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Sixth Section -->
    <section class="panel sixth-block animatedParent" data-section-name="industry-trends">
      <img src="img/industry-trends.jpg" class="bg-img">
      <div class="overlay"></div>
      <div class="animated delay-250">
        <div class="content">
          <h3 class="animated fadeInUpShort delay-500">Keeping you at the forefront of regulatory and industry trends</h3>
          <p class="text animated fadeInUpShort delay-750">Access to our timely thought leadership concerning the issues faced in today’s rapidly changing business environmen.</p>
          <ul class="owl-carousel owl-theme industry-trends-carosal animated fadeInUpShort delay-1750">
            <li class="item">
              <figure><img src="img/pdf1.jpg"></figure>
              <div class="date">2019</div>
              <h6>Reimagining customer privacy for the digital age  </h6>
            </li>
            <li class="item">
              <figure><img src="img/pdf2.jpg"></figure>
              <div class="date">2019</div>
              <h6>Reimagining customer privacy for the digital age  </h6>
            </li>
          </ul>
          <button type="button" class="btn backtotop animated fadeInUpShort delay-3000">Back to overview</button>
          <ul class="navigation">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li class="active">
              <a href=""></a>
              <div class="tooltip">
                <p>Thought Leadership</p>
              </div>
            </li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Seventh Section -->
    <section class="panel seven-block" data-section-name="contact-us">
      <img src="img/contact-us.jpeg" class="bg-img">
      <div class="left-panel">
        <div class="content">
          <h3>Your feedback matters to us</h3>
          <p>Send us your queries and feedback. Let us know what you think.</p>
          <ul class="contact">
            <li>
              <figure><img src="img/1.jpg" alt="team"></figure>
              <div class="inn-content">
                <div class="details">Vice Chairman, Deloitte UK</div>
                <h5>Cliff Rana</h5>
                <p class="link">Tel: <a href="tel:44207305375">+44 20 7303 5375</a></p>
                <p class="link">Email: <a href="mailto:crana@deloitte.co.uk">crana@deloitte.co.uk</a></p>
              </div>
            </li>
            <li>
              <figure><img src="img/2.jpg" alt="team"></figure>
              <div class="inn-content">
                <div class="details">Financial Services Industry Leader, Deloitte Southeast Asia</div>
                <h5>Cliff Rana</h5>
                <p class="link">Tel: <a href="tel:44207305375">+44 20 7303 5375</a></p>
                <p class="link">Email: <a href="mailto:crana@deloitte.co.uk">crana@deloitte.co.uk</a></p>
              </div>
            </li>
          </ul>
          <button type="button" class="btn backtotop animated fadeInUpShort delay-3000">Back to overview</button>
          <ul class="navigation">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li class="active">
              <a href=""></a>
              <div class="tooltip">
                <p>Contact Your Team</p>
              </div>
            </li>
          </ul>
        </div>        
      </div>
    </section>
  </main>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/css3-animate-it.js"></script>
<script src="js/owlCarousel/owl.carousel.js"></script>
<script src="js/custom.js"></script>
<script src="js/jquery.scrollify.js"></script>
</body>
</html>