
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Deloitte</title>
  <link href="img/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/animations-ie-fix.css">
  <link rel="stylesheet" href="js/owlCarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="js/owlCarousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>
  <header class="animatedParent">
    <section class="top-bar animated fadeInDownShort delay-250">
      <div class="container-fluid">
        <a href=""><img alt="" class="logo" src="img/logo-white.png"></a>
        <div class="hamburger hamburger--spin">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <nav class="main-navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Our Promise to you</a></li>
    </ul>
  </nav>
  <main class="main-content">
    <!-- First Section -->
    <section class="panel first-block animatedParent" data-section-name="home">
      <img src="img/first-section.jpg" class="bg">
      <div class="container">
        <div class="inner-content">
          <video width="320" height="240" controls class="animated fadeInUpShort delay-500">
            <source src="img/video/movie.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h1 class="animated fadeInUpShort delay-1000"><small>A personal message from our</small> Global CEO, Punit Renjen | AP CEO, Cindy Hook</h1>
        </div>
      </div>
      <div class="footer">
        <p class="animated fadeInUpShort delay-1250">Find out why Deloitte is the right auditor for DBS</p>
        <a href="#our-promise" class="animated fadeInUpShort delay-1500"><img src="img/go-back.png" alt="go-back"></a>
      </div>
    </section>

    <!-- Second Section -->
    <section class="panel second-block animatedParent" data-section-name="our-promise">
      <div class="top-banner">
        <img src="img/our-promise.jpg" class="bg">
        <div class="banner-content">
          <ul class="animated fadeInUpShort delay-500">
            <li><img src="img/logo.png" alt="Deloitte" class="logo"></li>
            <li><img src="img/dbs.png" alt="DBS" class="logo"></li>
          </ul>
          <h2 class="animated fadeInUpShort delay-750">Our promise to you</h2>
        </div>
      </div>
      <div class="container-fluid">
        <h4 class="text-center animated fadeInUpShort delay-1250">Below, we have set out where we see shared values and a strong cultural fit between DBS and Deloitte.</h4>
        <ul class="owl-carousel owl-theme promises-carosal animated fadeInUpShort delay-1750">
          <li class="item">
            <img src="img/promise1.png" alt="" />
            <label class="h4">Refresh. <br/>Redefine. <br/>Reimagine</label>
          </li>
          <li class="item">
            <img src="img/promise2.png" alt="" />
            <label class="h4">Our Purpose ofmaking an impactthat matters</label>
          </li>
          <li class="item">
            <img src="img/promise3.png" alt="" />
            <label class="h4">Unlockingvalue through technology</label>
          </li>
          <li class="item">
            <img src="img/promise4.png" alt="" />
            <label class="h4">At the forefrontof regulatory andindustry trends</label>
          </li>
          <li class="item">
            <img src="img/promise5.png" alt="" />
            <label class="h4">Your feedback matters to us</label>
          </li>
        </ul>
      </div>
    </section>

    <!-- Third Section -->
    <section class="panel third-block animatedParent" data-section-name="reimagine">
      <img src="img/reimagine.jpeg" class="bg-img">
      <div class="animated delay-250">
        <div class="left-panel animated slideInLeft delay-500">
          <div class="content">
            fgjkjhgfd
          </div>        
        </div>
      </div>
    </section>

    <!-- Fourth Section -->
    <!-- <section class="panel fourth-block animatedParent" data-section-name="purpose-of-making">
      <img src="img/purpose-of-making.jpg" class="bg-img">
      <div class="animated delay-250">
        <div class="left-panel animated slideInLeft delay-500">
          <div class="content">
            fgjkjhgfd
          </div>        
        </div>
      </div>
    </section> -->

    <!-- Fifth Section -->
    <!-- <section class="panel fifth-block animatedParent" data-section-name="technology">
      <img src="img/technology.jpg" class="bg-img">
      <div class="animated delay-250">
        <div class="left-panel animated slideInLeft delay-500">
          <div class="content">
            fgjkjhgfd
          </div>        
        </div>
      </div>
    </section> -->

    <!-- Sixth Section -->
    <!-- <section class="panel sixth-block animatedParent" data-section-name="industry-trends">
      <img src="img/industry-trends.jpg" class="bg-img">
      <div class="animated delay-250">
        <div class="left-panel animated slideInLeft delay-500">
          <div class="content">
            fgjkjhgfd
          </div>        
        </div>
      </div>
    </section> -->

    <!-- Seventh Section -->
    <!-- <section class="panel seven-block animatedParent" data-section-name="contact-us">
      <img src="img/contact-us.jpg" class="bg-img">
      <div class="animated delay-250">
        <div class="left-panel animated slideInLeft delay-500">
          <div class="content">
            fgjkjhgfd
          </div>        
        </div>
      </div>
    </section> -->
  </main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/css3-animate-it.js"></script>
<script src="js/owlCarousel/owl.carousel.js"></script>
<script src="js/custom.js"></script>
<script src="js/jquery.scrollify.js"></script>
</body>
</html>